// Media Queries

$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

// Font

$Inter: 'Inter', sans-serif;
$Inria-Sans: 'Inria Sans', sans-serif;
$Inter-light: 400;
$Inria-light: 300;
$bold : 700;
$color1 : #FFFFFF;
$color2 : #CC0000;
$bg-1 : #141517;
$bg-2 : #191B20;